doctype html
html
	head
		title 트위터
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src="//code.jquery.com/jquery-1.11.2.min.js").
		block script
	body
		#wrapper
			#nav_bar
				ul
					li
						a(href="/") 홈 
					li
						a(href="/i/notifications") 알림 
					li
						a(href="/") 쪽지 
					li
						a(href="/i/discover") 발견하기
					#manage_account
						li
							a(href="/logout") 로그아웃 

			#left_div
				block left
				
			#right_div
				block right
				
