doctype html
html
	head
		title 트위터
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css")
		script(src="//code.jquery.com/jquery-1.11.2.min.js").
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js").
		script(type='text/javascript').
			$(document).ready(function(){
				$('button').click( function(e){
					e.preventDefault();
					var id = $('input[name=id]').val();
					var pw = $('input[name=pw]').val();
					$('input[name=id]').val('');
					$('input[name=pw]').val('');	
					$.post('/login', { id : id , pw : pw} , function (data){
						if (data == "yes"){
							alert("로그인 성공");
							location = '/';
						} else {
							alert("로그인 실패")
						}

					});
				});

			});
			
	body
		form(class="navbar-form navbar-left")
			div(class="form-group")
				input(type="text" class="form-control" placeholder="id" name="id")
				input(type="password" class="form-control" placeholder="password" name="pw")
				button(type="submit" class="btn btn-default") Submit